@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Fix: Tailwind preflight makes the MDC notch border visible in Angular Material outline fields */
.mdc-notched-outline__notch { border-right: none; }
